<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:property-placeholder location="classpath:client.properties, classpath:logger.properties"/>
    <aop:aspectj-autoproxy/>
    <import resource="loggers.xml"/>

    <bean id="app" class="com.pavelrudenok99999.spring.App"
          c:client-ref="client"
          c:defaultLogger-ref="#{T(com.pavelrudenok99999.spring.Event).isDay() ? 'cacheFileEventLogger'
                                                                               : 'consoleEventLogger' }"
          c:loggers-ref="loggerMap"/>

    <bean id="loggingAspect" class="com.pavelrudenok99999.spring.LoggingAspect"/>

    <bean id="client" class="com.pavelrudenok99999.spring.Client"
          c:id="${client.id}" c:fullname="${client.fullname}"/>

    <bean id="event" class="com.pavelrudenok99999.spring.Event" scope="prototype"
          c:date="#{new java.util.Date()}"
          c:df="#{T(java.text.DateFormat).getDateTimeInstance()}"/>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate"/>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

</beans>